
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,600;1,500&display=swap');

:root {
    // --------------------------------------------------------------------
    // COLOR DEFS

    // various colors
    --col-white: white;
    --col-eigengrau: #16161d;
    --col-china-ink: #495057;

    --col-teal-l: #edf2f7;
    --col-teal-m: #d6d9dd;
    --col-teal-d: #b6bbc2;

    // colorie
    --col-colorie-1: #fac14e;
    --col-colorie-2: #fbcfb9;
    --col-colorie-3: #ef7d4d;
    --col-colorie-4: #96d0c3;

    // toned-down
    --col-colorie-l-1: #fcdb98;
    --col-colorie-l-2: #fce0d1;
    --col-colorie-l-3: #f5b093;
    --col-colorie-l-4: #cbe8e1;

    // grayscale
    --col-grayscale-1: #c5c5c5;
    --col-grayscale-2: #dadada;
    --col-grayscale-3: #9a9a9a;
    --col-grayscale-4: #bdbdbd;

    // autumn
    --col-autumn-1: #d0c4ad;
    --col-autumn-2: #e1d8d3;
    // --col-autumn-3: #ab948b;
    --col-autumn-3: #b6a29a;
    --col-autumn-4: #b5c1be;


    // --------------------------------------------------------------------
    // COLOR THEME

    // light
    --background-col: var(--col-teal-l);
    --text-col: var(--col-china-ink);
    --site-title-col: var(--col-teal-m);
    --post-bg-col: var(--col-white);

    --card-col-1: var(--col-colorie-l-1);
    --card-col-2: var(--col-colorie-l-2);
    --card-col-3: var(--col-colorie-l-3);
    --card-col-4: var(--col-colorie-l-4);

    // dark
    @media (prefers-color-scheme: dark) {
        --background-col: var(--col-eigengrau);
        --text-col: var(--col-china-ink);
        --site-title-col: var(--col-china-ink);
        --post-bg-col: var(--col-teal-d);

        // --col-grayscale-1: #c5c5c5;
        // --col-grayscale-2: #dadada;
        // --col-grayscale-3: #9a9a9a;
        // --col-grayscale-4: #bdbdbd;
        --card-col-1: var(--col-autumn-1);
        --card-col-2: var(--col-autumn-2);
        --card-col-3: var(--col-autumn-3);
        --card-col-4: var(--col-autumn-4);

        // img {
        //     opacity: .75;
        //     transition: opacity .5s ease-in-out;
        // }
        // img:hover {
        //     opacity: 1;
        // }
    }

    // --------------------------------------------------------------------
    // FONT

    // --site-title-ff: Arial, Helvetica, sans-serif;
    --site-title-ff: 'IBM Plex Sans', sans-serif;
}


html {
    box-sizing: border-box;
    margin:0;
    padding:0;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    background-color: var(--background-col);
    color: var(--text-col);
}

header, main {
    margin: 0 auto;
    max-width: 65rem;
}
header.on-landing-page, main.on-landing-page {
    max-width: 50rem;
}
@media (max-width: 1400px) {
    header, main {
        max-width: 50rem;
    }
}

.site-title-container {
    width: 100%;
    text-align: center;
}

a.site-title {
    font-family: var(--site-title-ff);
    font-size: 120px;
    text-decoration: none;
    color: var(--site-title-col);
}
a.site-title:hover {
    color: var(--site-title-col);
}
@media (max-width: 700px) {
    a.site-title {
        font-size: 60px;
    }
}

.grid {
    display: flex;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(10rem,auto);
    grid-gap: 1rem
}

.card {
    display: flex;
    align-items: left;
    justify-content: left;
    min-height: 10rem;
    position: relative;
    margin-left: 1rem;
    margin-right: 1rem;
    flex: 1 1 10rem
}

@supports (display:grid) {
    .card {
        margin: 0
    }
}
.card:nth-last-child(1n) {
    background: var(--card-col-4);
}
.card:nth-last-child(2n) {
    background: var(--card-col-3);
}
.card:nth-last-child(3n) {
    background: var(--card-col-2);
}
.card:nth-last-child(4n) {
    background: var(--card-col-1);
}

.card:nth-last-child(5n + 1) {
    background: var(--card-col-3);
}

.card:nth-last-child(6n + 1) {
    background: var(--card-col-3);
}

.card:nth-last-child(7n +1) {
    background: var(--card-col-1);
}


.card:nth-last-child(4n + 1) {
    background: var(--card-col-1);
}
.card:nth-last-child(4n + 2) {
    background: var(--card-col-2);
}
.card:nth-last-child(4n + 3) {
    background: var(--card-col-3);
}
.card:nth-last-child(4n + 4) {
    background: var(--card-col-4);
}

.card {
    //min-height: 100%;
    background: white;
    -webkit-box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
    box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
    //display: flex;
    //flex-direction: column;
    text-decoration: none;
    //position: relative;
    //top: 0;
    color: inherit;
}

.card .thumb {
    padding-bottom: 60%;
    background-size: cover;
    background-position: center center;
}

.card a {
    text-decoration: none;
}

.card p {
    font-size: 0.9rem;
}

.card h2 {
    font-size: 1.3rem;
    margin: 0;
}

.card time {
    font-size: 0.8rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .05em;
}

.card .meta {
    padding: 2rem;
    display: flex;

    flex: 1;
    justify-content: space-between;
    flex-direction: column;
}

.post {
    background: var(--post-bg-col);
    padding: 2rem 3rem;
    -webkit-box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
    box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
}
@media (max-width: 700px) {
    .post {
        padding: 1rem 1rem;
    }
}

.card {
    transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    &:hover {
        transform: scale(1.02);
    }
}
ul, ol {
    padding: 0;
    list-style-position: inside;
}

table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;

    tr {
        border-bottom: 1px solid black;
    }

    td {
        padding: 0.5rem;
    }
}

img {
    width: 100%;
    margin: 0.5rem 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav {
    ul {
        list-style: none !important;
        padding: 0;
        text-align: right;

        li {
            display: inline-block;
        }
    }
    a, a:visited {
        margin: 0.5rem;
        text-decoration: none;
	text-transform: uppercase;
	color: inherit;
	font-size: 0.8rem;
	font-weight: 500;
	letter-spacing: .05em;
	//opacity: 0.6;
    }
}

footer {
    margin: 1rem 0;
    text-align: center;
}

article > h2 {
    margin-top: 40px;
}
